<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dyi_integration>
            <general>
                <event_name>Dyi-Event-Data</event_name>
            </general>
            <feed>
                <update_rate_time>1</update_rate_time>
                <update_rate_type>1440</update_rate_type>
                <access_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </feed>
        </dyi_integration>
    </default>
</config>