<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="dyi_set_coupon_code_after">
        <observer name="AddPromoCodeEvent" instance="DynamicYield\Integration\Observer\AddPromoCodeObserver" />
    </event>
    <event name="dyi_add_item_to_cart">
        <observer name="AddToCartEvent" instance="DynamicYield\Integration\Observer\AddToCartObserver" />
    </event>
    <event name="wishlist_add_product">
        <observer name="AddToWishlistEvent" instance="DynamicYield\Integration\Observer\AddToWishlistObserver" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="PurchaseEvent" instance="DynamicYield\Integration\Observer\PurchaseObserver" />
    </event>
    <event name="dyi_remove_item_from_cart">
        <observer name="RemoveFromCartEvent" instance="DynamicYield\Integration\Observer\RemoveFromCartObserver" />
    </event>
    <event name="dyi_empty_cart">
        <observer name="EmptyCartEvent" instance="DynamicYield\Integration\Observer\EmptyCartObserver" />
    </event>
    <event name="customer_register_success">
        <observer name="SignupEvent" instance="DynamicYield\Integration\Observer\SignupObserver" />
    </event>
    <event name="layout_load_before">
        <observer name="BackendLoadLayoutEvent" instance="DynamicYield\Integration\Observer\BackendLoadLayoutObserver" />
    </event>
</config>
