<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dynamicyield" translate="label" sortOrder="10">
            <label>DynamicYield</label>
        </tab>

        <section id="dyi_integration" translate="label" sortOrder="10" showInDefault="1">
            <class>separator-top</class>
            <label>Integration</label>
            <tab>dynamicyield</tab>
            <resource>DynamicYield_Integration::configuration</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>General Configuration</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable Integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="section_id" translate="label comment" type="text" sortOrder="20" showInDefault="1">
                    <label>Section ID</label>
                    <comment>Section ID for integration</comment>
                </field>

                <field id="event_name" type="hidden">
                    <validate>required-entry</validate>
                </field>
            </group>

            <group id="feed" translate="label" type="text" sortOrder="20" showInDefault="1">
                <label>Product Feed</label>

                <field id="update_rate_time" translate="label comment" type="text" sortOrder="20" showInDefault="1">
                    <label>Update Rate Time</label>
                    <validate>validate-digits</validate>
                    <backend_model>DynamicYield\Integration\Model\Config\Backend\UpdateRateTime</backend_model>
                    <depends>
                        <field id="dyi_integration/general/active">1</field>
                    </depends>
                </field>

                <field id="update_rate_type" translate="label comment" type="select" sortOrder="30" showInDefault="1">
                    <label>Update Rate Frequency</label>
                    <source_model>DynamicYield\Integration\Model\Config\Source\UpdateRateTypeAttribute</source_model>
                    <backend_model>DynamicYield\Integration\Model\Config\Backend\UpdateRateType</backend_model>
                    <depends>
                        <field id="dyi_integration/general/active">1</field>
                    </depends>
                </field>

                <field id="attributes" translate="label comment" type="multiselect" sortOrder="40" showInDefault="1">
                    <label>Product Attributes</label>
                    <source_model>DynamicYield\Integration\Model\Config\Source\ProductAttribute</source_model>
                    <depends>
                        <field id="dyi_integration/general/active">1</field>
                    </depends>
                </field>

                <field id="used_attributes" translate="label comment" type="multiselect" sortOrder="50" showInDefault="1">
                    <label>Used Product Attributes</label>
                    <comment>All Used Product Attributes</comment>
                    <source_model>DynamicYield\Integration\Model\Config\Source\UsedProductAttribute</source_model>
                    <depends>
                        <field id="dyi_integration/general/active">1</field>
                    </depends>
                </field>

                <field id="access_key" translate="label comment" type="obscure" sortOrder="60" showInDefault="1">
                    <label>Secret Access Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="dyi_integration/general/active">1</field>
                    </depends>
                </field>

                <field id="access_key_id" translate="label comment" type="text" sortOrder="70" showInDefault="1">
                    <label>Access Key ID</label>
                    <depends>
                        <field id="dyi_integration/general/active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>